body{
background:black;
color:white;
font-family:Arial;
margin:0;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
position:sticky;
top:0;
}

.logo{
color:red;
font-size:28px;
font-weight:bold;
}

.nav-links{
display:flex;
list-style:none;
gap:20px;
}

.nav-links li{
cursor:pointer;
font-size:14px;
}

.nav-links li:hover{
color:red;
}

.profile{
font-size:20px;
cursor:pointer;
}

/* HERO */

.hero{
height:500px;

background:
linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.2)),
url("https://images.unsplash.com/photo-1606813907291-d86efa9b94db");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
padding-left:50px;
}

.hero-content{
max-width:500px;
}

.hero h1{
font-size:50px;
margin-bottom:10px;
}

.hero p{
font-size:16px;
margin-bottom:20px;
}

.buttons button{
padding:10px 20px;
margin-right:10px;
border:none;
font-size:16px;
cursor:pointer;
}

.play-btn{
background:white;
color:black;
}

.info-btn{
background:gray;
color:white;
}

.buttons button:hover{
opacity:0.8;
}

/* MOVIE SECTION */

.movie-section{
padding:20px;
}

.movie-section h2{
margin-bottom:10px;
}

.movie-row{
display:flex;
gap:10px;
overflow-x:auto;
}

.movie-row img{
width:200px;
border-radius:5px;
cursor:pointer;
transition:transform 0.3s;
}

.movie-row img:hover{
transform:scale(1.1);
}

/* FOOTER */

.footer{
background:#111;
padding:40px;
margin-top:40px;
color:gray;
}

.footer-links{
display:flex;
gap:20px;
margin:20px 0;
flex-wrap:wrap;
}

.footer-links span{
cursor:pointer;
}

.footer-links span:hover{
color:white;
}

.copyright{
font-size:12px;
}